################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnifiedLibraryV1.VC.VC.opendb
