<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.3.55.2" targetFramework="net46" />
  <package id="AWSSDK.Core" version="3.3.2" targetFramework="net46" />
  <package id="AWSSDK.S3" version="3.3.0.4" targetFramework="net46" />
  <package id="BouncyCastle" version="1.7.0" targetFramework="net46" />
  <package id="Google.Apis" version="1.16.0" targetFramework="net46" />
  <package id="Google.Apis.Analytics.v3" version="1.16.0.582" targetFramework="net46" />
  <package id="Google.Apis.Auth" version="1.16.0" targetFramework="net46" />
  <package id="Google.Apis.Auth.Mvc" version="1.16.0" targetFramework="net46" />
  <package id="Google.Apis.Calendar.v3" version="1.16.0.626" targetFramework="net46" />
  <package id="Google.Apis.Core" version="1.16.0" targetFramework="net46" />
  <package id="Google.Apis.Drive.v3" version="1.16.0.624" targetFramework="net46" />
  <package id="Google.Apis.Oauth2.v2" version="1.16.0.623" targetFramework="net46" />
  <package id="Google.Apis.Sheets.v4" version="1.16.0.631" targetFramework="net46" />
  <package id="Google.Apis.YouTube.v3" version="1.16.0.582" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net46" />
  <package id="log4net" version="2.0.3" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="PacketDotNet" version="0.13.0" targetFramework="net46" />
  <package id="SharpPcap" version="4.2.0" targetFramework="net46" />
  <package id="SSH.NET" version="2016.0.0" targetFramework="net46" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net46" />
</packages>